[Desktop Entry]
Type=Application
Terminal=false
Icon[en_US]={{ pycharm_dir }}/bin/pycharm.png
Name[en_US]=PyCharm
Exec={{ pycharm_dir }}/bin/pycharm.sh
Name=PyCharm
Icon={{ pycharm_dir }}/bin/pycharm.png
